<div *ngFor="let dish of dishBlocks; let i = index" class="dishes" [ngClass]="{ 'reverse': i === 1 }">
    <img [src]="dish.imageUrl" alt="">
    <div>
        <h4>{{ dish.description }}</h4>
        <table class="font-raleway">
            <tr class="row1">
                <td>CHICKEN</td>
                <td>BEEF</td>
                <td>SHRIMP</td>
            </tr>
            <tr class="row2">
                <td>11.95€</td>
                <td>12.95€</td>
                <td>13.95€</td>
            </tr>
        </table>
    </div>
</div>
