nav {
    position:absolute;
    top: 16px;
    box-sizing: border-box;
    width: 100%;
    padding: 0 64px;
    display: flex;
    justify-content: space-between;
    >img {
        box-sizing: border-box;
        width: 64px;
        height: 64px;
    }

    >div {
        width: 100%;
        // padding-left: 4%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        >div {
            display:flex;
            align-items: center;
        }
        >a {
            color: white;
            text-decoration: none;
            padding: 8px;
            &:hover {
                color: red;
                text-decoration: underline;
            }
        }
    }
}

.phone-btn {
    >img {
        width: 18px;
        padding: 0 2px;
    }
    >a {
        color: white;
        text-decoration: none;
    }
    &:hover {
        filter: brightness(0) saturate(100%) invert(20%)
        sepia(90%) saturate(6491%) hue-rotate(357deg)
        brightness(110%) contrast(124%);
        cursor: pointer;
        text-decoration: underline;
    }
}

