<div class="how-to-order font-raleway">
    <h3>HOW TO ORDER</h3>
    <div class="directions">
        <div>
            <img src="./../../../assets/img/2_section_how_to_order/PNG/noodle.png" alt="">
            <p>Pick your noodle</p>
        </div>
        <div>
            <img src="./../../../assets/img/2_section_how_to_order/PNG/broth.png" alt="">
            <p>Pick your broth</p>
        </div>
        <div>
            <img src="./../../../assets/img/2_section_how_to_order/PNG/egg.png" alt="">
            <p>Add your toppings</p>
        </div>
    </div>
</div>